<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <!--maxQueryStringLength="2097151" maxRequestLength="20971520"-->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <!--<security>
      <requestFiltering>
        <requestLimits maxQueryString="20971520" />
      </requestFiltering>
    </security>-->
    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>-->
      <!--<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />-->
    </staticContent>
    <!--<modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="jsonrequest" path="*.json" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
    </handlers>-->
  </system.webServer>
  <connectionStrings>
    <add connectionString="Server=JIZUN-PC;Database=C5;User ID=sa;Password=a+1" name="C5DB" />
    <add name="WxProgramAppID" connectionString="" />
    <add name="WxProgramAppSecret" connectionString="" />
    <add name="WxAppID" connectionString="" />
    <add name="WxAppSecret" connectionString="" />
    <add name="WxPayMchID" connectionString="" />
    <add name="WxPayKey" connectionString="" />
    <add name="WxPayNotifyUrl" connectionString="" />
  </connectionStrings>
</configuration>
